# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Real-ESRGAN
Real-ESRGAN/

# Input and output folders
input/
output/
logs/
models/
result_images/

# Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Temporary files
*.tmp
temp/

# Operating system files
.DS_Store
Thumbs.db
